/* styles.css */

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: #F5F5DC; /* Bege claro */
    color: #333333; /* Cinza escuro */
    padding-top: 100px; /* Espaço para o header fixo */
    margin: 0;
}

.header-container {
    width: 100%;
    background-color: #D4AF37; /* Dourado */
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Define a largura máxima para o conteúdo do header */
    margin: 0 auto; /* Centraliza o header dentro do header-container */
    padding: 10px 20px;
    color: #fff;
}

.header img {
    height: 75px;
}

.header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px 20px; /* Adicionado para garantir padding uniforme */
    display: inline-block;
}

.header nav a:hover {
    text-decoration: underline;
}

/* Garantir que o link de logout seja estilizado corretamente */
.header nav a[onclick] {
    cursor: pointer;
}

.main-container {
    padding: 20px;
    background: #FFFFFF; /* Branco */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o main-container */
}

@media (max-width: 768px) {
    .header nav a {
        margin: 0 10px;
    }
    .room-cards-container {
        flex-direction: column;
        align-items: center;
    }
}
