body {
    font-family: Arial, sans-serif;
    background: #F5F5DC; /* Bege claro */
    color: #333333; /* Cinza escuro */
    padding-top: 70px; /* Espaço para o header fixo */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #D4AF37; /* Dourado */
    color: #fff;
    position: fixed;
    width: 97%;
    top: 0;
    z-index: 1000;
}
.header img {
    height: 75px;
}
.header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}
.header nav a:hover {
    text-decoration: underline;
}
.main-container {
    padding: 20px;
    background: #FFFFFF; /* Branco */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}