{% extends 'core/base.html' %}

{% block title %}Check-out{% endblock %}

{% block content %}        <h1>Check-out</h1>
        <form method="post">
            {% csrf_token %}
            <select name="checkin_id" required>
                <option value="">Selecione um Check-in</option>
                {% for checkin in checkins %}
                <option value="{{ checkin.id }}">Quarto {{ checkin.quarto.numero_quarto }} - {{ checkin.hospede.nome_completo }}</option>
                {% endfor %}
            </select>
            <input type="date" name="data_checkout" placeholder="Data de Check-out" required>
            <input type="number" name="consumo" placeholder="Consumo" step="0.01" required>
            <textarea name="observacoes" placeholder="Observações"></textarea>
            <input type="text" name="metodo_pagamento" placeholder="Método de Pagamento" required>
            <input type="number" name="total_pago" placeholder="Total Pago" step="0.01" required>
            <button type="submit">Registrar Check-out</button>
        </form>


{% endblock %}
