{% extends 'core/base.html' %}
{% load static %}
{% block title %}Check-in{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/checkin.css' %}">
{% endblock %}

{% block content %}
<div class="checkin-container">
    <h1>Check-in</h1>
    <form method="post">
        {% csrf_token %}
        <label for="tipo_hospede">Tipo de Hóspede:</label>
        <select id="tipo_hospede" name="tipo_hospede" onchange="toggleHospedeFields()">
            <option value="individual">Individual</option>
            <option value="empresa">Empresa</option>
        </select>

        <div id="individual_fields" style="display:block;" data-incluir-hospede-url="{% url 'incluir_hospede_view' %}">
            <label for="search_hospede">Pesquisar Hóspede:</label>
            <input type="text" id="search_hospede" name="search_hospede" oninput="searchHospede()">
            <ul id="search_results"></ul>
            <input type="hidden" id="selected_hospede_id" name="selected_hospede_id">
            <button type="button" onclick="confirmHospedeSelection()">Confirmar Hóspede</button>
            <a href="{% url 'incluir_hospede_view' %}" class="btn">Registrar Hóspede</a>
            <button type="button" onclick="addIndividualHospedeField()">Adicionar outro hóspede</button>
            <div id="individual_hospede_fields"></div>
        </div>

        <div id="empresa_fields" style="display:none;" data-incluir-empresa-url="{% url 'incluir_empresa_view' %}">
            <label for="search_empresa">Pesquisar Empresa:</label>
            <input type="text" id="search_empresa" name="search_empresa" oninput="searchEmpresa()">
            <ul id="search_empresa_results"></ul>
            <input type="hidden" id="selected_empresa_id" name="selected_empresa_id">
            <button type="button" onclick="confirmEmpresaSelection()">Confirmar Empresa</button>
            <a href="{% url 'incluir_empresa_view' %}" class="btn">Incluir Empresa</a>
            <button type="button" onclick="addEmpresaHospedeField()">Adicionar Hóspede</button>
            <a href="{% url 'incluir_hospede_view' %}" class="btn">Registrar Hóspede</a>
            <div id="empresa_hospede_fields"></div>
        </div>

        <div>
            <label for="quarto">Quarto:</label>
            <select name="quarto" id="quarto">
                {% for quarto in quartos %}
                    <option value="{{ quarto.id }}">{{ quarto.numero_quarto }}</option>
                {% endfor %}
            </select>
        </div>
        {{ form.data_checkin.label_tag }} <input type="date" name="data_checkin" id="id_data_checkin">
        {{ form.data_checkout.label_tag }} <input type="date" name="data_checkout" id="id_data_checkout">
        {{ form.diaria.label_tag }} {{ form.diaria }}
        {{ form.num_dias.label_tag }} {{ form.num_dias }}
        {{ form.companhia.label_tag }} {{ form.companhia }}
        {{ form.motivo_viagem.label_tag }} {{ form.motivo_viagem }}
        {{ form.acompanhantes.label_tag }} {{ form.acompanhantes }}

        <button type="submit">Registrar Check-in</button>
    </form>
</div>

{% block extra_script %}
<script>
    var incluirHospedeUrl = "{% url 'incluir_hospede_view' %}";
    var incluirEmpresaUrl = "{% url 'incluir_empresa_view' %}";
</script>
<script src="{% static 'js/checkin.js' %}"></script>
{% endblock %}
{% endblock %}
