{% extends 'core/base.html' %}
{% load static %}

{% block title %}Check-out{% endblock %}

{% block content %}
<h1>Check-out</h1>
<form method="post">
    {% csrf_token %}
    <label for="checkin_id">Selecione um Check-in:</label>
    <select name="checkin_id" id="checkin_id" required>
        <option value="">Selecione um Check-in</option>
        {% for checkin in checkins %}
        <option value="{{ checkin.id }}">Quarto {{ checkin.quarto.numero_quarto }} - {{ checkin.hospede_principal.nome_completo }}</option>
        {% endfor %}
    </select>
    <div id="checkin-details"></div>
    <input type="date" name="data_checkout" placeholder="Data de Check-out" required>
    <input type="number" name="consumo" placeholder="Consumo" step="0.01" required>
    <textarea name="observacoes" placeholder="Observações"></textarea>
    <input type="text" name="metodo_pagamento" placeholder="Método de Pagamento" required>
    <input type="number" name="total_pago" placeholder="Total Pago" step="0.01" required>
    <button type="submit">Registrar Check-out</button>
</form>

{% block extra_script %}
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}
{% endblock %}
