{% extends 'core/base.html' %}

{% block title %}Finanças{% endblock %}

{% block content %}
<h1>Finanças</h1>
        <form method="post">
            {% csrf_token %}
            <select name="tipo" required>
                <option value="">Selecione o Tipo</option>
                <option value="receita">Receita</option>
                <option value="despesa">Despesa</option>
            </select>
            <input type="text" name="descricao" placeholder="Descrição" required>
            <input type="number" step="0.01" name="valor" placeholder="Valor" required>
            <input type="date" name="data" required>
            <button type="submit">Adicionar Transação</button>
        </form>
        <h2>Transações</h2>
        {% for transacao in transacoes %}
        <div class="transacao {{ transacao.tipo }}">
            <p><strong>{{ transacao.tipo|capfirst }}</strong>: {{ transacao.descricao }}</p>
            <p>Valor: R$ {{ transacao.valor }}</p>
            <p>Data: {{ transacao.data }}</p>
        </div>
        {% empty %}
        <p>Não há transações registradas.</p>
        {% endfor %}


{% endblock %}
