{% extends 'core/base.html' %}

{% load static %}
{% block title %}Página Inicial{% endblock %}

{% block content %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/room_cards.css' %}">
{% endblock %}

    <h1>Página Inicial</h1>
    <div class="room-cards-container">
        {% for quarto in quartos %}
        <a href="{% url 'quarto_detalhes' quarto.id %}" class="room-card-link">
        <div class="room-card {% if quarto.estado == 'livre' %}available
                              {% else %}occupied
                              {% endif %}">

            <h2 class="room-title">Quarto {{ quarto.numero_quarto }}</h2>
            <p class="room-status">Estado: {{ quarto.estado }}</p>

            {% if quarto.estado == 'ocupado' %}
                <p class="room-guest">Hóspede: {{ quarto.hospede.nome_completo }}</p>
                {% if quarto.tipo_checkin == 'empresa' %}
                    <p class="room-company">Empresa: {{ quarto.empresa.nome_empresa }}</p>
                {% endif %}
                <p class="room-dates">
                    Check-in:
                    {% if quarto.checkin_individual %}
                        {{ quarto.checkin_individual.data_checkin }}
                    {% else %}
                        {{ quarto.checkin_empresa.data_checkin }}
                    {% endif %}
                    |
                    Check-out:
                    {% if quarto.checkin_individual %}
                        {{ quarto.checkin_individual.data_checkout }}
                    {% else %}
                        {{ quarto.checkin_empresa.data_checkout }}
                    {% endif %}
                </p>
            {% endif %}

        </div>
        {% endfor %}
    </div>

{% endblock %}
