{% extends 'core/base.html' %}

{% block title %}Quarto{% endblock %}

{% block content %}
        <h1>Detalhes do Quarto {{ quarto.numero_quarto }}</h1>



        <h2>Reservas</h2>
        {% for reserva in reservas %}
        <div class="reserva">
            <p>Hóspede: {% if reserva.hospede %}{{ reserva.hospede.nome_completo }}{% else %}N/A{% endif %}</p>
            <p>Data de Início: {{ reserva.data_inicio }}</p>
            <p>Data de Fim: {{ reserva.data_fim }}</p>
        </div>
        {% empty %}
        <p>Não há reservas para este quarto.</p>
        {% endfor %}

{% endblock %}
