{% extends 'core/base.html' %}

{% block title %}Reserva{% endblock %}

{% block content %}

<h1>Registro de Reserva</h1>
        {% if messages %}
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="date" name="data_inicio" placeholder="Data de Início" required>
            <input type="date" name="data_fim" placeholder="Data de Fim" required>
            <select name="quarto_id" required>
                <option value="">Selecione um Quarto</option>
                {% for quarto in quartos %}
                <option value="{{ quarto.id }}">{{ quarto.numero_quarto }}</option>
                {% endfor %}
            </select>
            <select name="hospede_id">
                <option value="">Selecione um Hóspede (opcional)</option>
                {% for hospede in hospedes %}
                <option value="{{ hospede.id }}">{{ hospede.nome_completo }}</option>
                {% endfor %}
            </select>
            <button type="submit">Registrar Reserva</button>
        </form>

{% endblock %}